version: 2.1

# Reuse a common job for publishing each orb

parameters:
  run-terraform:
    type: boolean
    default: false

jobs:
  test_python:
    description: Tests python code within an orb
    parameters:
      path:
        type: string
        description: The path to the orb
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - run: pip install pytest
      - run: python -m pytest << parameters.path >>
  validate_orb:
    description: Validate an orb
    parameters:
      path:
        type: string
        description: The path to the orb
    docker:
      - image: playsportsgroup/core-eng-ovo-pre-orb-poc:latest
      
    steps:
      - checkout
      - run:
          name: Validate orb
          command: |
            set -e
            docker login --username $DOCKER_LOGIN --password $DOCKER_PASS
            circleci orb validate << parameters.path >>/orb.yml

  publish_orb:
    description: Publish an orb
    parameters:
      path:
        type: string
        description: The path to the orb
    docker:
      - image: playsportsgroup/core-eng-ovo-pre-orb-poc:latest
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
      - run:
          name: docker build << parameters.path >>
          # language=bash
          command: |
            set -x
            docker login --username $DOCKER_LOGIN --password $DOCKER_PASS

            readonly ORB="<< parameters.path >>"

            for path in $ORB/executor/Dockerfile*; do

              if [ -e "$path" ]; then
                 echo "Has docker files - continuing"
              else
                 echo "Has no docker files - exiting step"
                 exit 0
              fi
              filename=$(basename $path)

              if [[ "$filename" == "Dockerfile" ]]; then
                  TAG="latest"
                  BUILD_TAG="${CIRCLE_BRANCH}_$(date "+%d-%m-%Y")"
              else
                  TAG="${filename#"Dockerfile-"}"
                  BUILD_TAG="${TAG}_${CIRCLE_BRANCH}_$(date "+%d-%m-%Y")"
              fi

              docker build --tag "playsportsgroup/${ORB}:${BUILD_TAG}" \
              --label org.label-schema.vcs-ref="$CIRCLE_SHA1" \
              --label org.label-schema.vcs-url="$CIRCLE_REPOSITORY_URL" \
              --label org.label-schema.schema-version="1.0" \
              --file $path \
              "${ORB}/executor"

              docker push "playsportsgroup/${ORB}:${BUILD_TAG}"

              DIGEST=$(docker image inspect --format="{{index .RepoDigests 0}}" "playsportsgroup/${ORB}:${BUILD_TAG}")
              echo $DIGEST > "${ORB}_${TAG}_digest.txt"

              if [ "$CIRCLE_BRANCH" = "master" ]; then
                  docker tag "playsportsgroup/${ORB}:${BUILD_TAG}" "playsportsgroup/${ORB}:${TAG}"
                  docker push "playsportsgroup/${ORB}:${TAG}"
              fi
            done
      - run:
          name: Publish << parameters.path >> orb
          # language=bash
          command: |
            readonly ORB="<< parameters.path >>"

            tools/include.py "${ORB}/orb.yml" > "/tmp/${ORB}_orb.yml"

            shopt -s nullglob   # allow orbs to have no dockerfile
            for path in $ORB/executor/Dockerfile*; do

              filename=$(basename $path)

              if [[ -f "$filename" ]]; then
                if [[ "$filename" == "Dockerfile" ]]; then
                    TAG="latest"
                else
                    TAG="${filename#"Dockerfile-"}"
                fi

                # update the executor image tag to point at the image that was just published
                DIGEST=$(<"${ORB}_${TAG}_digest.txt")
                sed -i -e "s|playsportsgroup/${ORB}:$TAG|$DIGEST|" "/tmp/${ORB}_orb.yml"
              fi

            done

            DEV_VERSION=dev:$(echo $CIRCLE_BRANCH | tr / _)

            echo "Creating orb playsportsgroup/${ORB} if it wasn't created before"
            circleci orb list playsportsgroup | grep -q -F "playsportsgroup/${ORB} " || circleci orb create playsportsgroup/"${ORB}" --no-prompt --token "$CIRCLECI_PROD_TOKEN"

            echo "Publishing branch development-version: playsportsgroup/${ORB}@$DEV_VERSION"
            circleci orb publish "/tmp/${ORB}_orb.yml" "playsportsgroup/${ORB}@$DEV_VERSION" --token "$CIRCLECI_TOKEN"

            if [ "$CIRCLE_BRANCH" = "master" ]; then
              echo "Publishing master to playsportsgroup/${ORB}"

              if ! circleci orb source "playsportsgroup/${ORB}" > "/tmp/${ORB}_current.yml"; then
                # This is the first version
                circleci orb publish promote "playsportsgroup/${ORB}@$DEV_VERSION" major --token "$CIRCLECI_PROD_TOKEN"
                exit 0
              fi

              if [[ -f "${ORB}/orb_version.txt" ]]; then
                # This is a specific version
                VERSION=$(<"${ORB}/orb_version.txt")
                CURRENT_VERSION=$(circleci orb info playsportsgroup/${ORB} | grep "Latest" | cut -d' ' -f2)

                if [[ "$VERSION" != "$CURRENT_VERSION" ]]; then
                    circleci orb publish "/tmp/${ORB}_orb.yml" "$VERSION" --token "$CIRCLECI_PROD_TOKEN"
                else
                  echo "$VERSION is already published"
                fi

              elif ! cmp -s "/tmp/${ORB}_orb.yml" "/tmp/${ORB}_current.yml"; then
                # This is a new version
                circleci orb publish increment "/tmp/${ORB}_orb.yml" "playsportsgroup/${ORB}" patch --token "$CIRCLECI_PROD_TOKEN"
              fi
            else
              echo "Orb can now be tested using the following circleci config"
              echo "  orbs:"
              echo "    ${ORB}: playsportsgroup/${ORB}@dev:$CIRCLE_BRANCH"
            fi

workflows:
  terraform:
    when: << pipeline.parameters.run-terraform >>
    jobs:
      - test_python:
          path: terraform
      - validate_orb:
          path: terraform
          context: 'docker-hub-credentials'
      - publish_orb:
          path: terraform
          context: 'docker-hub-credentials'
          requires:
            - test_python
            - validate_orb
